# Hi!

Hi I'm **Freyyj** (or Freyja, or Frey, or Frey·ja as you like) part-time girl and part-time writer on technology, culture, and social platforms.

You can find me online at [**freyyj.org**](https://freyyj.org) and on Twitter at [**@freyyj**](https://twitter.com/freyyj).

---

I write as often as I can make myself do it. Here's my latest.

( 🖥️ = technology, 🌏 = social platforms/internet, 🎞️ = culture, 💄 = boy-to-girl stuff, 📓 = personal, 🗞️ = other )
{{range (slice .Articles 0 3)}}
* {{SymbolForCategories .Categories}}  [**{{.Title}}**]({{.Link.Href}}) <sub><em>{{.Published.Format "Jan 2, 2006"}}</em></sub>

    {{.Summary}}
{{end}}
A full list of [my articles is here](https://freyyj.org/articles).

---

![A lush Japanese landscape. Can you guess where this is?](./banner_16x9_1200.jpg)
